<h1>New blog</h1>

<% form_for(@blog) do |form| %>
  <%= render :partial => 'form', :locals => {:form => form} %>
  <p><%= form.submit 'Create' %></p>
<% end %>

<p><%= link_to 'Back', blogs_path %></p>
